div.card {
    width: 300px;
    height: 250px;
    margin: 12px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    background-color: white;
}

div.card-body {
    display: block;
}

label.card {
    display: block;
}

input.card {
    width: 40px;
}
/* 
    pour le size de l'ecran jutilise du code de https://www.w3schools.com/cssref/css3_pr_mediaquery.asp 
    pour le auto-sizing de la grid j'utilise du code de https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout
    Code for grids by w3School https://www.w3schools.com/css/css_grid.asp 
    Edited by Thierry Laprade #300067788 
*/
div.panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1770px) {
    div.panel {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1430px) {
    div.panel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1095px) {
    div.panel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Next two Style blocks are from : https://www.w3schools.com/howto/howto_js_accordion.asp*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
.empty {
    padding : 8px;
}

label.card {
    font-size: large;
}

img.card {
    height: 180px;
}

h2 {
    margin: 6px 0;
}



